@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.category-btn {
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Internet Explorer and Edge */
.category-btn {
  -ms-overflow-style: none; /* IE and Edge */
}
